[Unit]
Description=Stratux Serial Capture
After=stratux.service
Wants=stratux.service

[Service]
Type=simple
ExecStart=/opt/stratux/bin/Raspberry_Capture.sh
WorkingDirectory=/home/pi
KillMode=process
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
